	<style type="text/css">
        .form-cadastro {
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }

        .div1{
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }

        .bt{
            margin-top: 2.7%
        }

        h2, h1{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            margin-top: 30px;
        }

        h3{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
        }

        .btn-primary{
            background-color: #4ABDAC !important; 
            color: white !important;
            border-color: #4ABDAC !important;
        }

        .btn-primary:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        body{
            background-color: #EFEFEF !important;
        }

        nav{
            background-color: #4ABDAC !important;
        }

        #contas{
		    color: white;
        }
        
        #cadcontas{
            background-color:white;
            color:black !important;
        }

        .navbar-nav > li > .dropdown-menu > a:hover, .navbar-nav > li > .dropdown-menu > a:active{background-color: #819FF7 !important;}

        .navbar-nav > li > .dropdown-menu { background-color: #4ABDAC !important; }

        .navbar-nav > li > .dropdown-menu > a {color: aliceblue}
    </style>
	
	<h2>Cadastrar Contas</h2>

	<form class="form-cadastro" method="POST" action="/validacontas">

    <input type="hidden" name="_id" value="{{tipoconta._id}}">

    <input type="hidden" id="tipoConta" name="tipoConta" value="{{tipoconta.nomeTipoConta}}">

        <br>
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código da Conta</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Cod. Conta" required name="CodConta">
            </div>
            
			<div class="col-md-3 mb-3">
                <label for="validationDefault02">Fornecedor</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome do fornecedor" required name="NomeFornecedor">
            </div>
  		</div>
        
        <div class="form-row">
			<div class="col-md-2 mb-3">
      			<label for="validationDefaultUsername">Valor da Conta</label>
      			<div class="input-group">
        			<div class="input-group-prepend">
          				<span class="input-group-text" id="valconta">R$</span>
        			</div>
        			<input type="text" class="form-control money" id="validationDefaultUsername" placeholder="0,00" aria-describedby="inputGroupPrepend2" required name="ValConta2">
					<input type="hidden" id="ValCont" name="ValConta" value="">
				</div>
    		</div>
            {{#if tipoconta.Juros}}
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Juros</label>
                <input type="text" class="form-control percent" id="validationDefault02" placeholder="0%" required name="Juros">
            </div>
            {{else}}
            {{/if}}


            {{#if tipoconta.Multa}}
            <div class="col-md-2 mb-3">
      			<label for="validationDefaultUsername">Multa</label>
      			<div class="input-group">
        			<div class="input-group-prepend">
          				<span class="input-group-text" id="inputGroupPrepend2">R$</span>
        			</div>
        			<input type="text" class="form-control money" id="validationDefaultUsername" placeholder="0,00" aria-describedby="inputGroupPrepend2" required name="Multa2">
					<input type="hidden" id="Mult" name="Multa" value="">
				</div>
    		</div>
            {{else}}
            {{/if}}

            {{#if tipoconta.Desconto}}
			<div class="col-md-2 mb-3">
      			<label for="validationDefault02">Desconto</label>
                <input type="text" class="form-control percent" id="validationDefault02" placeholder="0%" required name="Desconto">
    		</div>
            {{else}}
            {{/if}}
            
        </div>

		<div class="form-row">
			<div class="col-md-2.5 mb-3">
				<label for="inputSituacao">Situação da conta</label>
				<select id="inputSituacao" class="form-control" name="Situacao" required>
                    <option value="" disabled selected>-- Selecione --</option>
					<option>Aberta</option>
                    <option>Fechada</option>
					<option>Cancelada</option>
				</select>
			</div>
		</div>

        
        <div class="form-row">
			<div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Emissão</label>
                <input type="date" class="form-control" id="dataEmi" placeholder="Data de Emissão" required name="DataEmissao">
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Data de Vencimento</label>
                <input type="date" class="form-control" id="dataVenc" placeholder="Data de Vencimento" required name="DataVencimento">
            </div>
        </div>

        {{#if tipoconta.Observacao}}
        <div class="form-row">
            <div class="col-md-5 mb-3">
				<label for="validationTextarea">Observação</label>
                <textarea class="form-control" id="validationTextarea" placeholder="Observação" name="Observacao"></textarea >
            </div>
        {{else}}
        {{/if}}

        {{#if tipoconta.Descricao}}
            <div class="col-md-5 mb-3">
				<label for="validationTextarea">Descrição</label>
                <textarea class="form-control" id="validationTextarea2" placeholder="Descrição" name="Descricao"></textarea>
        	</div>
		</div>
        {{else}}
        {{/if}}

        {{#if tipoconta.codigoBarras}}
        <div class="form-row">
            <div class="col-md-5 mb-3">
				<label for="validationTextarea">Código de Barras</label>
                <textarea class="form-control" id="validationTextarea" placeholder="Código de Barras" name="CodBarras"></textarea >
            </div>
		</div>
        {{else}}
        {{/if}}

		<div class="form-row"></div>
			<div class="col-md-2 mb-3"></div>
				<button class="btn btn-primary" onclick="limpaValor()" type="submit">Cadastrar</button>
			</div>
		</div>

    </form>

	<script type="text/javascript">
			function limpaValor(){

				val = new String;
				mul = new String;

				val = document.getElementsByName("ValConta2")[0].value;
				mul = document.getElementsByName("Multa2")[0].value;

				val = val.replace(/[,]/g, ".");
				mul = mul.replace(/[,]/g, ".");

				var array = val.split(".");
                var cent = parseFloat(array[1]);
                cent = cent/100; 

				var array2 = mul.split(".");
				var cent2 = parseFloat(array2[1]);
				cent2 = cent2/100; 

				var value = parseFloat(array[0]);
				var multa = parseFloat(array2[0]);

				value = value + cent;
				multa = multa + cent2;
				
				document.getElementsByName("ValConta")[0].value = value.toFixed(2);

				document.getElementsByName("Multa")[0].value = multa.toFixed(2);
				
			}
	</script>