    

	<div id="divprincipal">
            {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

        <h1><center>Lista de usuários: </center></h1>
        <div id="divBusca"  >
            <input type="text" id="txtBusca" name="busca"/>
            <button id="btnBusca" class="btn btn-primary mt-4" >Buscar</button>
            
        </div>
        
        <div id="divTabela" class="maxWidth">
            <table id="tableCons">
                <thead>
                    <tr>
                        <br>
                        <hr>
                        {{#each usuario}}
                        <div class="container mt-4">	
						    <div class="card">
							    <div class="card-body">
                                <h4>Cracha: {{Cracha}}</h4>
                                        <p>
                                    Usuário: {{Nome}}
                                        </p>
                                    <a href ="/usuariodeletar/{{_id}}">
                                    <button type="button" class="btn btn-danger mt-4">Deletar Usuário</button></a>
                                    <a href ="/editarusuario/{{_id}}">
                                    <button type="button" class="btn btn-primary mt-4">Editar</button></a>

                                    <a href ="/liberarcadastro/{{_id}}">
                                    <button type="button" class="btn btn-warning mt-4">Liberar Cadastro</button></a>
							    </div>
                            </div>
						</div>
						{{else}}

                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
        
	</div>