    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

    <style type="text/css">
        .form-cadastro {
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }

        h2, h3, h1{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            margin-bottom: 20px;
        }

        .btn-primary{
            background-color: #4ABDAC !important; 
            color: white !important;
            border-color: #4ABDAC !important;
        }

        .btn-primary:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        .btn-danger{
            color: white !important;
        }

        .btn-danger:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        .btn-warning{
            color: white !important;
        }

        .btn-warning:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        #bancos{
            color: white;
        }

        #conscontabanc{
            background-color:white;
            color:black !important;
        }

        .navbar-nav > li > .dropdown-menu > a:hover, .navbar-nav > li > .dropdown-menu > a:active{background-color: #819FF7 !important;}

        .navbar-nav > li > .dropdown-menu { background-color: #4ABDAC !important; }

        .navbar-nav > li > .dropdown-menu > a {color: aliceblue}
    </style>

	<form id="divBusca" class="form-cadastro">

        <h2>Lista de Contas Bancárias: </h2>

        <div class="form-row">
            <div class="col-md-3">
                <input class="form-control" type="text" id="txtBusca" name="busca"/>
            </div>
            <div class="col-md-2 mb-2">
                <button id="btnBusca" class="btn btn-primary" >Buscar</button>
            </div>
        </div>
        
        <div id="divTabela" class="maxWidth">
            <table id="tableCons">
                <thead>
                    <tr>
                        <br>
                        <hr>
                        {{#each contabancaria}}
                        <div class="container mt-4">	
						    <div class="card">
							    <div class="card-body">
                                <h4>Código da Conta:{{codContaBanc}}</h4>
                                        <p>
                                    Agência: {{Agencia.numAgencia}} do Banco: {{Agencia.Banco.nomeBanco}}
                                        </p>
                                        <p>
                                    Titular: {{Titular}}
                                        </p>
                                        <p>
                                    Saldo: {{#corrigirValor Saldo}}{{/corrigirValor}}
                                        </p>
                                        <p>
                                    Situação: {{SituacaoContaBanc}}
                                        </p>
                                    <a href ="/deletarcontabancaria/{{_id}}">
                                    <button type="button" class="btn btn-danger mt-4">Deletar Banco</button></a>
                                    <a href ="/editarcontabancaria/{{_id}}">
                                    <button type="button" class="btn btn-primary mt-4">Editar</button></a>
							    </div>
                            </div>
						</div>
						{{else}}

                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
    </form>

        <script type="text/javascript">
        function search(){

         var bc = new String;

         bc = document.getElementsByName("busca")[0].value;
         if(bc != ""){           
              window.location.href="http://localhost:8081/consultarbancaria/"+bc;
         }
         else{           
              window.location.href="http://localhost:8081/consultarcontabancaria/";
         }
    }

    </script>