    <link rel='stylesheet' type='text/css' media='screen' href='consultarbancos.css'>

   {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

	<form id="divBusca" class="form-cadastro">
        
        <h2>Lista de bancos: </h2>

        <div class="form-row">
            <div class="col-md-3">
                <input class="form-control" type="text" id="txtBusca" name="busca"/>
            </div>
            <div class="col-md-2 mb-2">
                <button id="btnBusca" class="btn btn-primary" >Buscar</button>
            </div>
        </div>
        
        <div id="divTabela" class="maxWidth">
            <table id="tableCons">
                <thead>
                    <tr>
                        <br>
                        <hr>
                        {{#each banco}}
                        <div class="container mt-4">	
						    <div class="card">
							    <div class="card-body">
                                <h4>Código do Banco:{{codBanco}}</h4>
                                        <p>
                                    Nome do Banco: {{nomeBanco}}
                                        </p>
                                        <p>
                                    Telefone: {{Telefone}}
                                        </p>
                                        <p>
                                    E-mail: {{Email}}
                                        </p>
                                    <a href ="/deletarbanco/{{_id}}">
                                    <button type="button" class="btn btn-warning mt-4">Deletar Banco</button></a>
                                    <a href ="/editarbancos/{{_id}}">
                                    <button type="button" class="btn btn-primary mt-4">Editar</button></a>
							    </div>
                            </div>
						</div>
						{{else}}

                        {{/each}}
                    </tr>
                </thead>
            </table>
        </div>
    </form>