    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

    <style type="text/css">
        .form-cadastro {
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }

        h2, h1{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            margin-top: 30px;
        }

        h3{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
        }

        .btn-primary{
            background-color: #4ABDAC !important; 
            color: white !important;
            border-color: #4ABDAC !important;
        }

        .btn-primary:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        body{
            background-color: #EFEFEF !important;
        }

        nav{
            background-color: #4ABDAC !important;
        }
    </style>


    <form class="form-editar ml-5" method="POST" action="/validaedicao">
        <h2>Editar Usuário</h2>

        <input type="hidden" name="_id" value="{{usuario._id}}">
       
        <div class="form-row mt-4">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Crachá</label>
                <input type="number" class="form-control" id="validationDefault01" placeholder="Crachá" name="Cracha" value="{{usuario.Cracha}}" >
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Nome</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome" name="Nome" value="{{usuario.Nome}}" >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">CPF</label>
                <input type="text" class="form-control cpf" id="validationDefault03" placeholder="CPF" name="CPFn" value="{{usuario.CPF}}" >
            </div>

            <input type="hidden" name="CPF" value="">

            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cargo</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="Cargo" name="Cargo" value="{{usuario.Cargo}}" >
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Nascimento</label>
              <input type="text"  class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"  id="validationDefault05" name="DataNascimento" placeholder="{{#formatDate usuario.DataNascimento}}{{/formatDate}}" >
           
            </div>
            <div class="col-md-2 mb-3">
                <label type="text" for="validationDefault01">Data de Admissão</label>
                <input type="text"  class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="validationDefault06"  name="DataAdmissao" placeholder="{{#formatDate usuario.DataAdmissao}}{{/formatDate}}" >          
            </div>
        </div>

        <h3>Endereço</h3>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Logradouro</label>
                <input type="text" class="form-control" id="validationDefault07" placeholder="Logradouro" name="Logradouro" value="{{usuario.Logradouro}}" >
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número</label>
                <input type="number" class="form-control" id="validationDefault08" placeholder="Número" name="Numero" value="{{usuario.Numero}}" >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Bairro</label>
                <input type="text" class="form-control" id="validationDefault09" placeholder="Bairro" name="Bairro" value="{{usuario.Bairro}}" >
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cidade</label>
                <input type="text" class="form-control" id="validationDefault10" placeholder="Cidade" name="Cidade" value="{{usuario.Cidade}}" >
            </div>
            <div class="form-group col-md-2.5">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control" name="Estado" >
                    <option>{{usuario.Estado}}</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault03">E-mail</label>
                <input type="email" class="form-control" id="validationDefault11" placeholder="nome@exemplo.com" name="Email" value="{{usuario.Email}}" >
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Senha</label>
                <input type="password" class="form-control" id="validationDefault12" placeholder="Senha" name="Senha" value="{{usuario.Senha}}" >
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Confirmar Senha</label>
                <input type="password" class="form-control" id="validationDefault13" placeholder="Confirmar sua Senha" name="Senha2" required >
            </div>
        </div>

        <fieldset class="border col-md-11 pr-4 mr-5 mt-5" style="background-color: rgb(243, 243, 243);">
            <legend>Permissões:</legend>
            <div class="form-row">


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="contas">
                    <legend style="font-size:medium">Contas:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="contasCad">
                        <label class="custom-control-label" for="contasCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="cntasCons">
                        <label class="custom-control-label" for="cntasCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contasEdi">
                        <label class="custom-control-label" for="contasEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contasExc">
                        <label class="custom-control-label" for="contasExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="fornecedores">
                    <legend style="font-size:medium">Fornecedores:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="fornCad">
                        <label class="custom-control-label" for="fornCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="fornCons">
                        <label class="custom-control-label" for="fornCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="fornEdi">
                        <label class="custom-control-label" for="fornEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="fornExc">
                        <label class="custom-control-label" for="fornExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="Bancos">
                    <legend style="font-size:medium">Bancos:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="bancosCad">
                        <label class="custom-control-label" for="bancosCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="bancosCons">
                        <label class="custom-control-label" for="bancosCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="bancosEdi">
                        <label class="custom-control-label" for="bancosEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="bancosExc">
                        <label class="custom-control-label" for="bancosExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="agencias">
                    <legend style="font-size:medium">Agências:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="agenciasCad">
                        <label class="custom-control-label" for="agenciasCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="agenciasCons">
                        <label class="custom-control-label" for="agenciasCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="agenciasEdi">
                        <label class="custom-control-label" for="agenciasEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4 mb-3">
                        <input type="checkbox" class="custom-control-input" id="agenciasExc">
                        <label class="custom-control-label" for="agenciasExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-3 mb-5 mr-4 pr-5 pl-3 border rounded" id="contaBanc">
                    <legend style="font-size:medium">Contas Bancárias:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="contaBancCad">
                        <label class="custom-control-label" for="contaBancCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contaBancCons">
                        <label class="custom-control-label" for="contaBancCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contaBancEdi">
                        <label class="custom-control-label" for="contaBancEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4 mb-3">
                        <input type="checkbox" class="custom-control-input" id="contaBancExc">
                        <label class="custom-control-label" for="contaBancExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="relatorios">
                    <legend style="font-size:medium">Relatórios:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="relatoriosEmit">
                        <label class="custom-control-label" for="relatoriosEmit">Emitir Relatórios</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2,5 mb-5 mr-4 pr-5 pl-3 border rounded" id="simulacao">
                    <legend style="font-size:medium">Simulação:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="simulacaoGerar">
                        <label class="custom-control-label" for="simulacaoGerar">Gerar Simulação</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-3 mb-5 mr-4 pr-5 pl-3 border rounded" id="remessa">
                    <legend style="font-size:medium">Arquivo Remessa:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="remessaGerar">
                        <label class="custom-control-label" for="remessaGerar">Gerar Remessa</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="remessaCons">
                        <label class="custom-control-label" for="remessaCons">Consultar Retorno</label>
                    </div>
                </fieldset>


            </div>
        </fieldset>
        <button class="btn btn-primary mt-5 mb-5" type="submit" onclick="limpaCPF();sobrescreveData()"  >Editar</button>
        <a href ="/usuariodeletar/{{usuario._id}}">
    </form>

    <script type="text/javascript">
                function sobrescreveData(){

                da = new Date;
                dn = new Date;

                if (document.getElementsByName("DataNascimento")[0].value == ""){
            
                dn = "{{#formatDateBD usuario.DataNascimento}}{{/formatDateBD}}";
                    document.getElementsByName("DataNascimento")[0].value = dn;

                }

                if (document.getElementsByName("DataAdmissao")[0].value == ""){
                    
                da = "{{#formatDateBD usuario.DataAdmissao}}{{/formatDateBD}}";
                    document.getElementsByName("DataAdmissao")[0].value = da;
                }
            }
</script>