    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

    <style type="text/css">
        .form-cadastro {
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }
        h2, h3, h1{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            margin-bottom: 20px;
        }
        .btn-primary{
            background-color: #4ABDAC !important; 
            color: white !important;
            border-color: #4ABDAC !important;
        }
        .btn-primary:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }
        .btn-danger{
            color: white !important;
        }
        .btn-danger:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }
        .btn-warning{
            color: white !important;
        }
        .btn-warning:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }
        #bancos{
            color: white;
        }
        #consagencia{
            background-color:white;
            color:black !important;
        }
        .navbar-nav > li > .dropdown-menu > a:hover, .navbar-nav > li > .dropdown-menu > a:active{background-color: #819FF7 !important;}
        .navbar-nav > li > .dropdown-menu { background-color: #4ABDAC !important; }
        .navbar-nav > li > .dropdown-menu > a {color: aliceblue}
    </style>

    <body onload="permissoes()">
        <form class="form-editar ml-5" method="POST" action="/validaedicao">
        <h2>Editar Usuário</h2>

        <input type="hidden" name="_id" value="{{usuario._id}}">
       
        <div class="form-row mt-4">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Matrícula</label>
                <input type="number" class="form-control" id="validationDefault01" placeholder="Matrícula" name="Cracha" value="{{usuario.Cracha}}" >
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Nome</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome" name="Nome" value="{{usuario.Nome}}" >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">CPF</label>
                <input type="text" class="form-control cpf" id="validationDefault03" placeholder="CPF" name="CPFn" value="{{usuario.CPF}}" >
            </div>

            <input type="hidden" name="CPF" value="">

            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cargo</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="Cargo" name="Cargo" value="{{usuario.Cargo}}" >
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Nascimento</label>
              <input type="text"  class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"  id="validationDefault05" name="DataNascimento" placeholder="{{#formatDate usuario.DataNascimento}}{{/formatDate}}" >
           
            </div>
            <div class="col-md-2 mb-3">
                <label type="text" for="validationDefault01">Data de Admissão</label>
                <input type="text"  class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="validationDefault06"  name="DataAdmissao" placeholder="{{#formatDate usuario.DataAdmissao}}{{/formatDate}}" >          
            </div>
        </div>

        <h3>Endereço</h3>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Endereço</label>
                <input type="text" class="form-control" id="validationDefault07" placeholder="Logradouro" name="Logradouro" value="{{usuario.Logradouro}}" >
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número</label>
                <input type="number" class="form-control" id="validationDefault08" placeholder="Número" name="Numero" value="{{usuario.Numero}}" >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Bairro</label>
                <input type="text" class="form-control" id="validationDefault09" placeholder="Bairro" name="Bairro" value="{{usuario.Bairro}}" >
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cidade</label>
                <input type="text" class="form-control" id="validationDefault10" placeholder="Cidade" name="Cidade" value="{{usuario.Cidade}}" >
            </div>
            <div class="form-group col-md-2.5">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control" name="Estado" >
                    <option>{{usuario.Estado}}</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault03">E-mail</label>
                <input type="email" class="form-control" id="validationDefault11" placeholder="nome@exemplo.com" name="Email" value="{{usuario.Email}}" >
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Senha</label>
                <input type="password" class="form-control" id="validationDefault12" placeholder="Senha" name="Senha" value="{{usuario.Senha}}" >
            </div>
        </div>

        <fieldset class="border col-md-11 pr-4 mr-5 mt-5" style="background-color: rgb(243, 243, 243);">
            <legend>Permissões:</legend>
            
            <div class="form-row">
                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="contas">
                    <legend style="font-size:medium">Contas:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="contasCad" name="cadConta">
                        <label class="custom-control-label" for="contasCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="cntasCons" name="conConta">
                        <label class="custom-control-label" for="cntasCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contasEdi" name="editConta">
                        <label class="custom-control-label" for="contasEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contasExc" name="delConta">
                        <label class="custom-control-label" for="contasExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="fornecedores">
                    <legend style="font-size:medium">Fornecedores:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="fornCad" name="cadForn">
                        <label class="custom-control-label" for="fornCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="fornCons" name="conForn">
                        <label class="custom-control-label" for="fornCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="fornEdi" name="editForn">
                        <label class="custom-control-label" for="fornEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="fornExc" name="delForn">
                        <label class="custom-control-label" for="fornExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="Bancos">
                    <legend style="font-size:medium">Bancos:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="bancosCad" name="cadBanco">
                        <label class="custom-control-label" for="bancosCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="bancosCons" name="conBanco">
                        <label class="custom-control-label" for="bancosCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="bancosEdi" name="editBanco">
                        <label class="custom-control-label" for="bancosEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="bancosExc" name="delBanco">
                        <label class="custom-control-label" for="bancosExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2 mb-5 mr-4 pr-5 pl-3 border rounded" id="agencias">
                    <legend style="font-size:medium">Agências:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="agenciasCad" name="cadAgencia">
                        <label class="custom-control-label" for="agenciasCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="agenciasCons" name="conAgencia">
                        <label class="custom-control-label" for="agenciasCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="agenciasEdi" name="editAgencia">
                        <label class="custom-control-label" for="agenciasEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4 mb-3">
                        <input type="checkbox" class="custom-control-input" id="agenciasExc" name="delAgencia">
                        <label class="custom-control-label" for="agenciasExc">Excluir</label>
                    </div>
                </fieldset>

                <div class="custom-control custom-checkbox" style="right: 02%; position:absolute">
                    <div class="form-row">
                        <input type="checkbox" class="custom-control-input" id="admin" name="isAdmin" onclick="adm()">
                        <label class="custom-control-label" for="admin">Tornar Administrador</label>
                    </div>

                    <div class="form-row mt-2">
                        <input type="checkbox" class="custom-control-input" id="mTodos" name="mTodos" onclick="marcar()">
                        <label class="custom-control-label" for="mTodos">Marcar todos</label>
                    </div>

                    <div class="form-row">
                        <input type="checkbox" class="custom-control-input" id="dmTodos" name="dmTodos" onclick="desmarcar()" disabled>
                        <label class="custom-control-label" for="dmTodos">Desmarcar todos</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <fieldset class="col-md-2,1 mb-5 mr-4 pr-5 pl-3 border rounded" id="contaBanc">
                    <legend style="font-size:medium">Contas Bancárias:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="contaBancCad" name="cadContBanc">
                        <label class="custom-control-label" for="contaBancCad">Cadastrar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contaBancCons" name="conContBanc">
                        <label class="custom-control-label" for="contaBancCons">Consultar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="contaBancEdi" name="editContBanc">
                        <label class="custom-control-label" for="contaBancEdi">Editar</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4 mb-3">
                        <input type="checkbox" class="custom-control-input" id="contaBancExc" name="delContBanc">
                        <label class="custom-control-label" for="contaBancExc">Excluir</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2,5 mb-5 mr-4 pr-5 pl-3 border rounded" id="relatorios">
                    <legend style="font-size:medium">Relatórios:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="relatoriosEmit" name="emitirRelatorio">
                        <label class="custom-control-label" for="relatoriosEmit">Emitir Relatórios</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-2,5 mb-5 mr-4 pr-5 pl-3 border rounded" id="simulacao">
                    <legend style="font-size:medium">Simulação:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="simulacaoGerar" name="gerarSimulacao">
                        <label class="custom-control-label" for="simulacaoGerar">Gerar Simulação</label>
                    </div>
                </fieldset>


                <fieldset class="col-md-3 mb-5 mr-4 pr-5 pl-3 border rounded" id="remessa">
                    <legend style="font-size:medium">Arquivo Remessa:</legend>
                    <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="remessaGerar" name="gerarRemessa">
                        <label class="custom-control-label" for="remessaGerar">Gerar Remessa</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" class="custom-control-input" id="remessaCons" name="conRetorno">
                        <label class="custom-control-label" for="remessaCons">Consultar Retorno</label>
                    </div>
                </fieldset>


            </div>
        </fieldset>
        <button class="btn btn-primary mt-5 mb-5" style="background-color: #4ABDAC; border-color: #4ABDAC;" type="submit" onclick="limpaCPF();sobrescreveData()"  >Editar</button>
        <a href ="/usuariodeletar/{{usuario._id}}">
    </form>
    </body>
    

    <script type="text/javascript">
                function sobrescreveData(){

                da = new Date;
                dn = new Date;

                if (document.getElementsByName("DataNascimento")[0].value == ""){
            
                dn = "{{#formatDateBD usuario.DataNascimento}}{{/formatDateBD}}";
                    document.getElementsByName("DataNascimento")[0].value = dn;

                }

                if (document.getElementsByName("DataAdmissao")[0].value == ""){
                    
                da = "{{#formatDateBD usuario.DataAdmissao}}{{/formatDateBD}}";
                    document.getElementsByName("DataAdmissao")[0].value = da;
                }
            }

            function adm(){

                if (document.getElementById("admin").checked){

                    document.getElementsByName("cadConta")[0].checked = true;
                    document.getElementsByName("cadConta")[0].disabled = true;
                    document.getElementsByName("conConta")[0].checked = true;
                    document.getElementsByName("conConta")[0].disabled = true;
                    document.getElementsByName("editConta")[0].checked = true;
                    document.getElementsByName("editConta")[0].disabled = true;
                    document.getElementsByName("delConta")[0].checked = true;
                    document.getElementsByName("delConta")[0].disabled = true;

                    document.getElementsByName("cadForn")[0].checked = true;
                    document.getElementsByName("cadForn")[0].disabled = true;
                    document.getElementsByName("conForn")[0].checked = true;
                    document.getElementsByName("conForn")[0].disabled = true;
                    document.getElementsByName("editForn")[0].checked = true;
                    document.getElementsByName("editForn")[0].disabled = true;
                    document.getElementsByName("delForn")[0].checked = true;
                    document.getElementsByName("delForn")[0].disabled = true;

                    document.getElementsByName("cadBanco")[0].checked = true;
                    document.getElementsByName("cadBanco")[0].disabled = true;
                    document.getElementsByName("conBanco")[0].checked = true;
                    document.getElementsByName("conBanco")[0].disabled = true;
                    document.getElementsByName("editBanco")[0].checked = true;
                    document.getElementsByName("editBanco")[0].disabled = true;
                    document.getElementsByName("delBanco")[0].checked = true;
                    document.getElementsByName("delBanco")[0].disabled = true;

                    document.getElementsByName("cadAgencia")[0].checked = true;
                    document.getElementsByName("cadAgencia")[0].disabled = true;
                    document.getElementsByName("conAgencia")[0].checked = true;
                    document.getElementsByName("conAgencia")[0].disabled = true;
                    document.getElementsByName("editAgencia")[0].checked = true;
                    document.getElementsByName("editAgencia")[0].disabled = true;
                    document.getElementsByName("delAgencia")[0].checked = true;
                    document.getElementsByName("delAgencia")[0].disabled = true;

                    document.getElementsByName("cadContBanc")[0].checked = true;
                    document.getElementsByName("cadContBanc")[0].disabled = true;
                    document.getElementsByName("conContBanc")[0].checked = true;
                    document.getElementsByName("conContBanc")[0].disabled = true;
                    document.getElementsByName("editContBanc")[0].checked = true;
                    document.getElementsByName("editContBanc")[0].disabled = true;
                    document.getElementsByName("delContBanc")[0].checked = true;
                    document.getElementsByName("delContBanc")[0].disabled = true;

                    document.getElementsByName("gerarSimulacao")[0].checked = true;
                    document.getElementsByName("gerarSimulacao")[0].disabled = true;

                    document.getElementsByName("emitirRelatorio")[0].checked = true;
                    document.getElementsByName("emitirRelatorio")[0].disabled = true;

                    document.getElementsByName("gerarRemessa")[0].checked = true;
                    document.getElementsByName("gerarRemessa")[0].disabled = true;

                    document.getElementsByName("conRetorno")[0].checked = true;
                    document.getElementsByName("conRetorno")[0].disabled = true;

                    document.getElementsByName("mTodos")[0].checked = false;
                    document.getElementsByName("mTodos")[0].disabled = true;

                    document.getElementsByName("dmTodos")[0].checked = false;
                    document.getElementsByName("dmTodos")[0].disabled = true;
                }
                else{

                    document.getElementsByName("cadConta")[0].checked = false;
                    document.getElementsByName("cadConta")[0].disabled = false;
                    document.getElementsByName("conConta")[0].checked = false;
                    document.getElementsByName("conConta")[0].disabled = false;
                    document.getElementsByName("editConta")[0].checked = false;
                    document.getElementsByName("editConta")[0].disabled = false;
                    document.getElementsByName("delConta")[0].checked = false;
                    document.getElementsByName("delConta")[0].disabled = false;

                    document.getElementsByName("cadForn")[0].checked = false;
                    document.getElementsByName("cadForn")[0].disabled = false;
                    document.getElementsByName("conForn")[0].checked = false;
                    document.getElementsByName("conForn")[0].disabled = false;
                    document.getElementsByName("editForn")[0].checked = false;
                    document.getElementsByName("editForn")[0].disabled = false;
                    document.getElementsByName("delForn")[0].checked = false;
                    document.getElementsByName("delForn")[0].disabled = false;

                    document.getElementsByName("cadBanco")[0].checked = false;
                    document.getElementsByName("cadBanco")[0].disabled = false;
                    document.getElementsByName("conBanco")[0].checked = false;
                    document.getElementsByName("conBanco")[0].disabled = false;
                    document.getElementsByName("editBanco")[0].checked = false;
                    document.getElementsByName("editBanco")[0].disabled = false;
                    document.getElementsByName("delBanco")[0].checked = false;
                    document.getElementsByName("delBanco")[0].disabled = false;

                    document.getElementsByName("cadAgencia")[0].checked = false;
                    document.getElementsByName("cadAgencia")[0].disabled = false;
                    document.getElementsByName("conAgencia")[0].checked = false;
                    document.getElementsByName("conAgencia")[0].disabled = false;
                    document.getElementsByName("editAgencia")[0].checked = false;
                    document.getElementsByName("editAgencia")[0].disabled = false;
                    document.getElementsByName("delAgencia")[0].checked = false;
                    document.getElementsByName("delAgencia")[0].disabled = false;

                    document.getElementsByName("cadContBanc")[0].checked = false;
                    document.getElementsByName("cadContBanc")[0].disabled = false;
                    document.getElementsByName("conContBanc")[0].checked = false;
                    document.getElementsByName("conContBanc")[0].disabled = false;
                    document.getElementsByName("editContBanc")[0].checked = false;
                    document.getElementsByName("editContBanc")[0].disabled = false;
                    document.getElementsByName("delContBanc")[0].checked = false;
                    document.getElementsByName("delContBanc")[0].disabled = false;

                    document.getElementsByName("gerarSimulacao")[0].checked = false;
                    document.getElementsByName("gerarSimulacao")[0].disabled = false;

                    document.getElementsByName("emitirRelatorio")[0].checked = false;
                    document.getElementsByName("emitirRelatorio")[0].disabled = false;

                    document.getElementsByName("gerarRemessa")[0].checked = false;
                    document.getElementsByName("gerarRemessa")[0].disabled = false;

                    document.getElementsByName("conRetorno")[0].checked = false;
                    document.getElementsByName("conRetorno")[0].disabled = false;

                    document.getElementsByName("mTodos")[0].disabled = false;
                }
            }

            function marcar(){
                if (document.getElementById("mTodos").checked){

                    document.getElementsByName("cadConta")[0].checked = true;
                    document.getElementsByName("conConta")[0].checked = true;
                    document.getElementsByName("editConta")[0].checked = true;
                    document.getElementsByName("delConta")[0].checked = true;

                    document.getElementsByName("cadForn")[0].checked = true;
                    document.getElementsByName("conForn")[0].checked = true;
                    document.getElementsByName("editForn")[0].checked = true;
                    document.getElementsByName("delForn")[0].checked = true;

                    document.getElementsByName("cadBanco")[0].checked = true;
                    document.getElementsByName("conBanco")[0].checked = true;
                    document.getElementsByName("editBanco")[0].checked = true;
                    document.getElementsByName("delBanco")[0].checked = true;

                    document.getElementsByName("cadAgencia")[0].checked = true;
                    document.getElementsByName("conAgencia")[0].checked = true;
                    document.getElementsByName("editAgencia")[0].checked = true;
                    document.getElementsByName("delAgencia")[0].checked = true;

                    document.getElementsByName("cadContBanc")[0].checked = true;
                    document.getElementsByName("conContBanc")[0].checked = true;
                    document.getElementsByName("editContBanc")[0].checked = true;
                    document.getElementsByName("delContBanc")[0].checked = true;

                    document.getElementsByName("gerarSimulacao")[0].checked = true;

                    document.getElementsByName("emitirRelatorio")[0].checked = true;

                    document.getElementsByName("gerarRemessa")[0].checked = true;

                    document.getElementsByName("conRetorno")[0].checked = true;

                    document.getElementsByName("dmTodos")[0].disabled = false;

                    document.getElementsByName("mTodos")[0].checked = false;
                    document.getElementsByName("mTodos")[0].disabled = true;
                }
            }

            function desmarcar(){
                if (document.getElementById("dmTodos").checked){

                    document.getElementsByName("cadConta")[0].checked = false;
                    document.getElementsByName("conConta")[0].checked = false;
                    document.getElementsByName("editConta")[0].checked = false;
                    document.getElementsByName("delConta")[0].checked = false;

                    document.getElementsByName("cadForn")[0].checked = false;
                    document.getElementsByName("conForn")[0].checked = false;
                    document.getElementsByName("editForn")[0].checked = false;
                    document.getElementsByName("delForn")[0].checked = false;

                    document.getElementsByName("cadBanco")[0].checked = false;
                    document.getElementsByName("conBanco")[0].checked = false;
                    document.getElementsByName("editBanco")[0].checked = false;
                    document.getElementsByName("delBanco")[0].checked = false;

                    document.getElementsByName("cadAgencia")[0].checked = false;
                    document.getElementsByName("conAgencia")[0].checked = false;
                    document.getElementsByName("editAgencia")[0].checked = false;
                    document.getElementsByName("delAgencia")[0].checked = false;

                    document.getElementsByName("cadContBanc")[0].checked = false;
                    document.getElementsByName("conContBanc")[0].checked = false;
                    document.getElementsByName("editContBanc")[0].checked = false;
                    document.getElementsByName("delContBanc")[0].checked = false;

                    document.getElementsByName("gerarSimulacao")[0].checked = false;

                    document.getElementsByName("emitirRelatorio")[0].checked = false;

                    document.getElementsByName("gerarRemessa")[0].checked = false;

                    document.getElementsByName("conRetorno")[0].checked = false;

                    document.getElementsByName("dmTodos")[0].disabled = false;

                    document.getElementsByName("mTodos")[0].checked = false;
                    document.getElementsByName("mTodos")[0].disabled = false;

                    document.getElementsByName("dmTodos")[0].checked = false;
                    document.getElementsByName("dmTodos")[0].disabled = true;
                }
            }

            function permissoes(){

                if({{usuario.isAdmin}} == true){
                    document.getElementsByName("isAdmin")[0].checked = true;

                    document.getElementsByName("cadConta")[0].checked = true;
                    document.getElementsByName("cadConta")[0].disabled = true;
                    document.getElementsByName("conConta")[0].checked = true;
                    document.getElementsByName("conConta")[0].disabled = true;
                    document.getElementsByName("editConta")[0].checked = true;
                    document.getElementsByName("editConta")[0].disabled = true;
                    document.getElementsByName("delConta")[0].checked = true;
                    document.getElementsByName("delConta")[0].disabled = true;

                    document.getElementsByName("cadForn")[0].checked = true;
                    document.getElementsByName("cadForn")[0].disabled = true;
                    document.getElementsByName("conForn")[0].checked = true;
                    document.getElementsByName("conForn")[0].disabled = true;
                    document.getElementsByName("editForn")[0].checked = true;
                    document.getElementsByName("editForn")[0].disabled = true;
                    document.getElementsByName("delForn")[0].checked = true;
                    document.getElementsByName("delForn")[0].disabled = true;

                    document.getElementsByName("cadBanco")[0].checked = true;
                    document.getElementsByName("cadBanco")[0].disabled = true;
                    document.getElementsByName("conBanco")[0].checked = true;
                    document.getElementsByName("conBanco")[0].disabled = true;
                    document.getElementsByName("editBanco")[0].checked = true;
                    document.getElementsByName("editBanco")[0].disabled = true;
                    document.getElementsByName("delBanco")[0].checked = true;
                    document.getElementsByName("delBanco")[0].disabled = true;

                    document.getElementsByName("cadAgencia")[0].checked = true;
                    document.getElementsByName("cadAgencia")[0].disabled = true;
                    document.getElementsByName("conAgencia")[0].checked = true;
                    document.getElementsByName("conAgencia")[0].disabled = true;
                    document.getElementsByName("editAgencia")[0].checked = true;
                    document.getElementsByName("editAgencia")[0].disabled = true;
                    document.getElementsByName("delAgencia")[0].checked = true;
                    document.getElementsByName("delAgencia")[0].disabled = true;

                    document.getElementsByName("cadContBanc")[0].checked = true;
                    document.getElementsByName("cadContBanc")[0].disabled = true;
                    document.getElementsByName("conContBanc")[0].checked = true;
                    document.getElementsByName("conContBanc")[0].disabled = true;
                    document.getElementsByName("editContBanc")[0].checked = true;
                    document.getElementsByName("editContBanc")[0].disabled = true;
                    document.getElementsByName("delContBanc")[0].checked = true;
                    document.getElementsByName("delContBanc")[0].disabled = true;

                    document.getElementsByName("gerarSimulacao")[0].checked = true;
                    document.getElementsByName("gerarSimulacao")[0].disabled = true;

                    document.getElementsByName("emitirRelatorio")[0].checked = true;
                    document.getElementsByName("emitirRelatorio")[0].disabled = true;

                    document.getElementsByName("gerarRemessa")[0].checked = true;
                    document.getElementsByName("gerarRemessa")[0].disabled = true;

                    document.getElementsByName("conRetorno")[0].checked = true;
                    document.getElementsByName("conRetorno")[0].disabled = true;

                    document.getElementsByName("mTodos")[0].checked = false;
                    document.getElementsByName("mTodos")[0].disabled = true;

                    document.getElementsByName("dmTodos")[0].checked = false;
                    document.getElementsByName("dmTodos")[0].disabled = true;
                }

                if({{usuario.cadConta}} == true){
                    document.getElementsByName("cadConta")[0].checked = true;
                }
                if({{usuario.conConta}} == true){
                    document.getElementsByName("conConta")[0].checked = true;
                }
                if({{usuario.editConta}} == true){
                    document.getElementsByName("editConta")[0].checked = true;
                }
                if({{usuario.delConta}} == true){
                    document.getElementsByName("delConta")[0].checked = true;
                }


                if({{usuario.cadForn}} == true){
                    document.getElementsByName("cadForn")[0].checked = true;
                }
                if({{usuario.conForn}} == true){
                    document.getElementsByName("conForn")[0].checked = true;
                }
                if({{usuario.editForn}} == true){
                    document.getElementsByName("editForn")[0].checked = true;
                }
                if({{usuario.delForn}} == true){
                    document.getElementsByName("delForn")[0].checked = true;
                }


                if({{usuario.cadBanco}} == true){
                    document.getElementsByName("cadBanco")[0].checked = true;
                }
                if({{usuario.conBanco}} == true){
                    document.getElementsByName("conBanco")[0].checked = true;
                }
                if({{usuario.editBanco}} == true){
                    document.getElementsByName("editBanco")[0].checked = true;
                }
                if({{usuario.delBanco}} == true){
                    document.getElementsByName("delBanco")[0].checked = true;
                }


                if({{usuario.cadAgencia}} == true){
                    document.getElementsByName("cadAgencia")[0].checked = true;
                }
                if({{usuario.conAgencia}} == true){
                    document.getElementsByName("conAgencia")[0].checked = true;
                }
                if({{usuario.editAgencia}} == true){
                    document.getElementsByName("editAgencia")[0].checked = true;
                }
                if({{usuario.delAgencia}} == true){
                    document.getElementsByName("delAgencia")[0].checked = true;
                }


                if({{usuario.cadContBanc}} == true){
                    document.getElementsByName("cadContBanc")[0].checked = true;
                }
                if({{usuario.conContBanc}} == true){
                    document.getElementsByName("conContBanc")[0].checked = true;
                }
                if({{usuario.editContBanc}} == true){
                    document.getElementsByName("editContBanc")[0].checked = true;
                }
                if({{usuario.delContBanc}} == true){
                    document.getElementsByName("delContBanc")[0].checked = true;
                }


                if({{usuario.gerarSimulacao}} == true){
                    document.getElementsByName("gerarSimulacao")[0].checked = true;
                }


                if({{usuario.emitirRelatorio}} == true){
                    document.getElementsByName("emitirRelatorio")[0].checked = true;
                }


                if({{usuario.gerarRemessa}} == true){
                    document.getElementsByName("gerarRemessa")[0].checked = true;
                }
            }
</script>