<<<<<<< HEAD
    <link rel='stylesheet' type='text/css' media='screen' href='editarusuario.css'>

<h2>Editar Usuário</h2>
=======
    <link rel='stylesheet' type='text/css' media='screen' href='editar.css'>
>>>>>>> 4d11ce126d5e14374e24d61e4883b8694dc354f3

    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

    <h2>Editar Usuário</h2>

    <form class="form-editar" method="POST" action="/validaedicao">

        <input type="hidden" name="_id" value="{{usuario._id}}">
       
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Crachá</label>
                <input type="number" class="form-control" id="validationDefault01" placeholder="Crachá" name="Cracha" value="{{usuario.Cracha}}" >
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Nome</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Nome" name="Nome" value="{{usuario.Nome}}" >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">CPF</label>
                <input type="text" class="form-control cpf" id="validationDefault03" placeholder="CPF" name="CPFn" value="{{usuario.CPF}}" >
            </div>

            <input type="hidden" name="CPF" value="">

            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cargo</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="Cargo" name="Cargo" value="{{usuario.Cargo}}" >
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault01">Data de Nascimento</label>
              <input type="text"  class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"  id="validationDefault05" name="DataNascimento" placeholder="{{#formatDate usuario.DataNascimento}}{{/formatDate}}" >
           
            </div>
            <div class="col-md-2 mb-3">
                <label type="text" for="validationDefault01">Data de Admissão</label>
                <input type="text"  class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="validationDefault06"  name="DataAdmissao" placeholder="{{#formatDate usuario.DataAdmissao}}{{/formatDate}}" >          
            </div>
        </div>

        <h3>Endereço</h3>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Logradouro</label>
                <input type="text" class="form-control" id="validationDefault07" placeholder="Logradouro" name="Logradouro" value="{{usuario.Logradouro}}" >
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número</label>
                <input type="number" class="form-control" id="validationDefault08" placeholder="Número" name="Numero" value="{{usuario.Numero}}" >
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Bairro</label>
                <input type="text" class="form-control" id="validationDefault09" placeholder="Bairro" name="Bairro" value="{{usuario.Bairro}}" >
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Cidade</label>
                <input type="text" class="form-control" id="validationDefault10" placeholder="Cidade" name="Cidade" value="{{usuario.Cidade}}" >
            </div>
            <div class="form-group col-md-2.5">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control" name="Estado" >
                    <option>{{usuario.Estado}}</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault03">E-mail</label>
                <input type="email" class="form-control" id="validationDefault11" placeholder="nome@exemplo.com" name="Email" value="{{usuario.Email}}" >
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Senha</label>
                <input type="password" class="form-control" id="validationDefault12" placeholder="Senha" name="Senha" value="{{usuario.Senha}}" >
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationDefault04">Confirmar Senha</label>
                <input type="password" class="form-control" id="validationDefault05" placeholder="Confirmar sua Senha" name="Senha2" required >
            </div>
        </div>

        <button class="btn btn-primary mt-4" type="submit" onclick="limpaCPF();sobrescreveData()"  >Editar</button>
        <a href ="/usuariodeletar/{{_id}}">
        <button type="button" class="btn btn-danger mt-4">Deletar Usuário</button></a>
        <a href ="/liberarcadastro/{{_id}}">
        <button type="button" class="btn btn-warning mt-4">Liberar Cadastro</button></a>
    </form>

    <script type="text/javascript">
                function sobrescreveData(){

                da = new Date;
                dn = new Date;

                if (document.getElementsByName("DataNascimento")[0].value == ""){
            
                dn = "{{#formatDateBD usuario.DataNascimento}}{{/formatDateBD}}";
                    document.getElementsByName("DataNascimento")[0].value = dn;

                }

                if (document.getElementsByName("DataAdmissao")[0].value == ""){
                    
                da = "{{#formatDateBD usuario.DataAdmissao}}{{/formatDateBD}}";
                    document.getElementsByName("DataAdmissao")[0].value = da;
                }
            } 

    </script>