<h2>Editar Agências</h2>

    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
    {{/each}}

    <style type="text/css">
        .form-cadastro {
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }

        h2, h1{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            margin-top: 30px;
        }

        h3{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
        }

        .btn-primary{
            background-color: #4ABDAC !important; 
            color: white !important;
            border-color: #4ABDAC !important;
        }

        .btn-primary:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        body{
            background-color: #EFEFEF !important;
        }

        nav{
            background-color: #4ABDAC !important;
        }

        #bancos{
		    color: white;
        }
        
        #consagencia{
            background-color:white;
            color:black !important;
        }

        .navbar-nav > li > .dropdown-menu > a:hover, .navbar-nav > li > .dropdown-menu > a:active{background-color: #819FF7 !important;}

        .navbar-nav > li > .dropdown-menu { background-color: #4ABDAC !important; }

        .navbar-nav > li > .dropdown-menu > a {color: aliceblue}
    </style>

    <form class="form-cadastro" method="POST" action="/agenciaedicao">

        <input type="hidden" name="_id" value="{{agencia._id}}">

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Banco</label>
                <select id="inputSituacao" class="form-control" name="nomeBanco">
					{{#each banco}}
                    <option value="{{_id}}">{{nomeBanco}}</option>
                    {{else}}
                        <option value="">Nenhum banco registrado!</option>
                    {{/each}}
				</select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Código da Agência</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Cod. Agência" name="CodAgencia" value="{{agencia.codAgencia}}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Número da Agência</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Num. Agência" name="NumAgencia" value="{{agencia.numAgencia}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Gerente da Agência</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Ger. Agência" name="GerAgencia" value="{{agencia.gerAgencia}}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Telefone</label>
                <input type="text" class="form-control phone" id="validationDefault02" placeholder="Telefone" name="Tel" value="{{agencia.telAgencia}}">
            </div>
        </div>

        <h3>Endereço</h3>

        <div class="form-row">
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">CEP</label>
                <input type="text" class="form-control CEP" id="validationDefault02" placeholder="CEP" name="CEP" value="{{agencia.cepAgencia}}">
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Endereço</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Endereço" name="EnderecoAgencia" value="{{agencia.endAgencia}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault03">Cidade</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Cidade" name="Cidade" value="{{agencia.cidadeAgencia}}">
            </div>
            <div class="form-group col-md-2.5">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado" class="form-control" name="Estado">
                    <option>{{agencia.estadoAgencia}}</option>
                    <option>AC</option>
                    <option>AL</option>
                    <option>AP</option>
                    <option>AM</option>
                    <option>BA</option>
                    <option>CE</option>
                    <option>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>MG</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PR</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RS</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>SC</option>
                    <option>SP</option>
                    <option>SE</option>
                    <option>TO</option>
                </select>
            </div>
        </div>
		<br>

        <button class="btn btn-primary" type="submit">Editar</button>
    </form>