    <style type="text/css">
        .form-cadastro {
            width: 100%;
            max-width: 1200px;
            padding: 15px;
            margin: auto;
            margin-top: 10px;
        }

        h2, h1, h3{
            width: 100%;
            max-width: 1200px;
            padding: 10px;
            margin: auto;
            margin-top: 10px;
        }

        .btn-primary{
            margin-left: 260%;
            background-color: #4ABDAC !important; 
            color: white !important;
            border-color: #4ABDAC !important;
        }

        .btn-primary:hover{
            background-color: #EFEFEF !important;
            color: black !important;
        }

        #remessa{
            color: white;
        }

        #gerarremessa{
            background-color:white;
            color:black !important;
        }

        .navbar-nav > li > .dropdown-menu > a:hover, .navbar-nav > li > .dropdown-menu > a:active{background-color: #819FF7 !important;}

        .navbar-nav > li > .dropdown-menu { background-color: #4ABDAC !important; }

        .navbar-nav > li > .dropdown-menu > a {color: aliceblue}
    </style>

    <h2>Pagar Contas</h2>

    <br>
    <hr>
    <div id="divTabela">
        <div class="container mb-5" style="width: 1000px;">	
                <div class="card" style="width: 100%; height: 600px; overflow-y: scroll;">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Codigo da Conta</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Data de Vencimento</th>
                            <th scope="col">Multa</th>
                            <th scope="col">Juros</th>
                            <th scope="col">Desconto</th>
                            </tr>
                        </thead>
                        {{#each conta}}
                        <tbody>
                            <tr>
                            <th scope="row"><input type="checkbox" id="Conta" name="Conta" onclick="qtdeContas()"> {{codConta}}</th>
                            <td>{{#corrigirValor valConta}}{{/corrigirValor}}</td>
                            <input type="hidden" id="valConta" name="valConta" value="{{#corrigirValor valConta}}{{/corrigirValor}}">
                            <td>{{#formatDate dataVencimento}}{{/formatDate}}</td>
                            <td>{{Juros}}</td>
                            <td>{{#corrigirValor Multa}}{{/corrigirValor}}</td>
                            <td>{{Desconto}}</td>
                            </tr>
                            <input type="hidden" id="idConta" name="idConta" value="{{_id}}">
                        </tbody>
                        {{else}}

                        {{/each}}
                    </table>
                </div>
            </div>
            <div class="container mb-4" style="width: 600px;">	
                    <div class="card" style="width: 100%; height: 200px; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Conta Bancária</th>
                                <th scope="col">Banco</th>
                                <th scope="col">Agência</th>
                                <th scope="col">Saldo</th>
                                </tr>
                            </thead>
                            {{#each contabancaria}}
                            <tbody>
                                <tr>
                                <th scope="row"><input type="radio" id="ContaBancaria" name="ContaBancaria" onclick="qtdeContas()"> {{codContaBanc}}</th>
                                <td>{{Agencia.Banco.nomeBanco}}</td>
                                <input type="hidden" id="nomeBanco" name="nomeBanco" value="{{Agencia.Banco.nomeBanco}}">
                                <input type="hidden" id="numeroBanco" name="numeroBanco" value="{{Agencia.Banco.numeroBanco}}">
                                <td>{{Agencia.numAgencia}}</td>
                                <input type="hidden" id="codAgencia" name="codAgencia" value="{{Agencia.numAgencia}}">
                                <td>{{#corrigirValor Saldo}}{{/corrigirValor}}</td>
                                <input type="hidden" id="Saldo" name="Saldo" value="{{Saldo}}">
                                </tr>
                                <input type="hidden" id="idContaB" name="idContaB" value="{{_id}}">
                            </tbody>
                            {{else}}

                            {{/each}}
                        </table>
                    </div>
                    <input type="checkbox" id="CB" name="checkCB" > Quero usar uma conta bancária para pagar.
            </div>
    </div>
        

    <form class="form-cadastro">
         <div class="form-row">

            <div class="col-md-2 mb-3">
                <label for="TotaldeContas">Contas selecionadas: </label>
                <input type="text" class="form-control" id="TotaldeContas" name="totalContas" value="" disabled>
            </div>           
                            
            <div class="col-md-2 mb-3">
                <label for="validationDefault02">Valor Total: </label>
                <input type="text" class="form-control" id="validationDefault52" name="totalValor" value="" disabled>
            </div>
            <div class="form-row col-md-2 mb-3 mt-4">
                <button id="btnPaga" type="button" class="btn btn-primary" onclick="pagar()">Pagar Avulso</button>
            </div>
            <div class="form-row col-md-2 mb-3 mt-4 mr-5">
                <button id="btnRemessa" type="button" class="btn btn-primary" onclick="remessa()">Gerar Remessa</button>
            </div>
        
        </div>
    </form>


<script type="text/javascript">

    function remessa(){

        var CB = document.getElementsByName('ContaBancaria');
        var id = document.getElementsByName('idConta');
        var Conta = document.getElementsByName('Conta');
        var vId = document.getElementsByName('idContaB');
        var rm = new String;
        var rm2 = new String;

        if(document.getElementsByName('checkCB')[0].checked){

        banco = document.getElementsByName('nomeBanco');
        nBanco = document.getElementsByName('nomeBanco');
        agencia = document.getElementsByName('codAgencia');

            for(var i=0;i< CB.length;i++){

                if(CB[i].checked){
                    rm += banco[i].value + '/' + nBanco[i].value + '/' + agencia[i].value + '/';
                }
            
            }

            for(var i = 0; i < Conta.length; i++){
                if(rm2 != ""){
                    rm2 += "+" + String(id[i].value);
                }

                else{
                    rm2 = String(id[i].value);
                }
            }
            rm = rm + rm2;
            if(rm2 != ""){
                window.location.href="/remessa/" + rm;
            }
            else{
                alert("Remessa não foi gerado, nenhuma conta foi selecionada.");
                window.location.href="http://localhost:8081/pagarconta";
            }
        }
        else{
                alert("Selecione uma conta bancaria!");
            }
    }

    function qtdeContas(){

        var qtConta = document.getElementsByName('Conta');
        var qtdeSel = 0;
        var qtdeFal = 0;
        
        for (var i = 0; i < Conta.length; i++){
            
            if(qtConta[i].checked){
                qtdeSel = qtdeSel + 1;
            }

            else{
                qtdeFal = qtdeFal + 1;
            }

        }   
            document.getElementsByName("totalContas")[0].value =  qtdeSel;

            valorTotal();
    }   

    function valorTotal(){

        var Conta = document.getElementsByName('Conta');
        var vConta = document.getElementsByName('valConta');
        var vTotal = 0;
        var val = 0;
        
        for (var i = 0; i < Conta.length; i++){
            
            if(Conta[i].checked){

                var array = vConta[i].value.split(",");
                var cent = parseFloat(array[1]);
                var cent = cent/100;
                

                val = parseFloat(array[0].replace(/[.,R$]/g, ""));
                vTotal = vTotal + val + cent;
            }
        }   
            document.getElementsByName("totalValor")[0].value = 'R$' + vTotal.toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+\,)/g, "$1.");
            return(vTotal);
    }

    function pagar(){

        var vTotal = 0;
        var val = 0;
        
    if(document.getElementsByName('checkCB')[0].checked){

        var CB = document.getElementsByName('ContaBancaria');
        var vSaldo = document.getElementsByName('Saldo');
        var vId = document.getElementsByName('idContaB');
        var Conta = document.getElementsByName('Conta');
        var vConta = document.getElementsByName('idConta');

        var bc = new String;
        var count = 0;

        
        for(var i=0;i< CB.length;i++){

            if(CB[i].checked){

                var idConta = new String;
                idConta = vId[i].value;

                vTotal = valorTotal();

                count = 1;

            }
        
        }

        if(count > 0){

        for(var i = 0; i < Conta.length; i++){
        if(Conta[i].checked){

            if(bc != ""){
            bc = bc + "+" + String(vConta[i].value);
            }

            else{
                bc = String(vConta[i].value);
            }
         }
    }
         if(bc != ""){
              window.location.href="/validaPagarContaB/"+String(idConta)+"+"+String(vTotal)+"/"+bc;
         }
         else{
             alert("Nenhuma conta foi paga, pois, nenhuma foi selecionada.");
              window.location.href="http://localhost:8081/pagarconta";
         }
     
    }

    else{
        alert("Selecione uma conta bancaria!");
    }

}
    


    else{
    
    var Conta = document.getElementsByName('Conta');
    var vConta = document.getElementsByName('idConta');
    var bc = new String;

    for(var i = 0; i < Conta.length; i++){
        if(Conta[i].checked){
            if(bc != ""){
            bc = bc + "+" + String(vConta[i].value);
            }

            else{
                bc = String(vConta[i].value);
            }
         }
    }

         if(bc != ""){
              window.location.href="/validaPagarConta/"+bc;
         }
         else{           
             alert("Nenhuma conta foi paga, pois, nenhuma foi selecionada.");
              window.location.href="http://localhost:8081/pagarconta/";
         }
        
    }

}
</script>